[submodule "whale-watcher-source"]
	path = whale-watcher-source
	url = git@github.com:coffeemakingtoaster/whale-watcher.git
[submodule "hado-benchmark/dockerfile-extractor"]
	path = hado-benchmark/dockerfile-extractor
	url = git@github.com:coffeemakingtoaster/dockerfile-extractor.git
